<div class="container">
  <div id="score">Score: {{ score }}</div>
  <!-- <button ng-click="getCurrentClue()" type="button" name="button">get current clue</button> -->
  <div class="row">

    <div ng-repeat="category in categories" class="col-lg-2">
      <ul >
        <li class="category">
          <div class="card-container">
            <p>{{ category.data.title }}</p>
          </div>
        </li>
        <clue-card
          value="200"
          question="{{ category.data.clues[0].question }}"
          answer="{{ category.data.clues[0].answer }}"
          current="current"
          >
        </clue-card>
        <clue-card
          value="400"
          question="{{ category.data.clues[1].question }}"
          answer="{{ category.data.clues[1].answer }}"
          current="current"
          >
        </clue-card>
        <clue-card
          value="600"
          question="{{ category.data.clues[2].question }}"
          answer="{{ category.data.clues[2].answer }}"
          current="current"
          >
        </clue-card>
        <clue-card
          value="800"
          question="{{ category.data.clues[3].question }}"
          answer="{{ category.data.clues[3].answer }}"
          current="current"
          >
        </clue-card>
        <clue-card
          value="1000"
          question="{{ category.data.clues[4].question }}"
          answer="{{ category.data.clues[4].answer }}"
          current="current"
          >
        </clue-card>
      </ul>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
          </div> -->
          <div class="modal-body">
            <div class="">
              <p>{{ current.question }}</p>
            </div>
          </div>
          <div class="modal-footer">
            <form ng-submit="checkAnswer()" role="form">
              <div class="form-group">
                <input ng-model="playerInput" type="text" class="form-control text-center" name="answer" placeholder="Answer">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
