.bg {
  height: 100%; }

.bg#home {
  background: url("http://cenblog.org/iyc-2011/files/2011/06/JE2010_HeroHR_RGB-21.jpg");
  background-size: cover; }
  .bg#home h1 {
    position: absolute;
    font-family: 'Gyparody', Impact;
    color: #E2E2FF;
    font-size: 48px;
    bottom: 5%;
    left: 47%;
    text-shadow: 0px 0px 13px black; }
    .bg#home h1:hover {
      color: blue; }

.bg#game {
  background: url("http://media3.s-nbcnews.com/i/MSNBC/Components/Video/__NEW/tdy_tren_trebek_140107.jpg");
  background-size: 100%; }
  .bg#game .container {
    width: 890px; }

#game header {
  color: #E2E2FF;
  font-size: 48px;
  padding: 24px;
  font-family: 'Gyparody', Impact;
  text-shadow: 0px 0px 13px black;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  #game header div {
    display: inline-block;
    width: 30%; }

#quit {
  text-align: right; }

#logo-box {
  height: 10%; }
  #logo-box img {
    height: 100%; }

#quit a {
  text-align: right;
  color: #E2E2FF;
  text-decoration: none; }
  #quit a:hover {
    color: blue; }

#gameboard {
  background: black; }

.col-6 {
  display: inline-block;
  width: 15.5%;
  margin: .5%; }

ul {
  list-style-type: none;
  padding: 0;
  color: white;
  font-size: 48px;
  font-family: 'Impact', 'Helvetica', sans-serif;
  font-weight: 800;
  text-align: center; }

li {
  width: 100%;
  height: 74px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 2px 1px black;
  margin: 10px; }

clue-card {
  width: 100%;
  background-color: blue; }
  clue-card li {
    text-shadow: 2px 4px 2px black; }
    clue-card li:hover {
      cursor: pointer;
      background-color: navy; }

.category {
  font-size: 18px;
  text-transform: uppercase; }

#myModal {
  top: 10%; }

.modal-content .modal-header {
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: Impact;
  font-size: 36px;
  border: none; }

.modal-content .modal-footer {
  background: black;
  border: none;
  text-align: center; }

.modal-content form {
  display: inline-block; }

.modal-content input {
  margin: 0 10px; }

.modal-body {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  background: blue;
  color: white;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  height: 400px; }
  .modal-body div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .modal-body p {
    padding: 0 95px;
    text-shadow: 1px 2px 1px black; }
